extends layout

block content
  div.row
    div.col-md-3
    div.col-md-6
      h1= title
      p 欢迎使用华软人事资源管理系统
      form.form-horizontal
        div.form-group.form-group-lg
          label.col-sm-2.control-label(for="formGroupInputLarge")
          .col-sm-7
            div.alert.alert-danger#loginerror(style="display:none;" role="alert")
      form.form-horizontal
        div.form-group.form-group-lg
          label.col-sm-2.control-label(for="formGroupInputLarge") 用户名
          .col-sm-7
            input.form-control#username(type="text" placeholder="请输入工号" aria-describedby="basic-addon1")
        div.form-group.form-group-lg
          label.col-sm-2.control-label(for="formGroupInputLarge") 密码
          .col-sm-7
            input.form-control#password(type="password" placeholder="请输入密码" aria-describedby="basic-addon1")
      p
      .row
        div.col-md-4
        div.col-md-4
          button.btn.btn-primary#loginbtn.navbar-btn(type="button" onclick="login()") 登陆
        div.col-md-4
    div.col-md-3
              script.
                $('input').focus(function(){
                  $('#loginerror').slideUp()
                })
                function login() {
                  toastr.options = {
                  "closeButton": false,
                  "debug": false,
                  "newestOnTop": false,
                  "progressBar": true,
                  "positionClass": "toast-top-full-width",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "5000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                } 
                  var username = $('#username').val()
                  var password = $('#password').val()
                  if(!username){
                    console.log('登陆失败')
                    $('#loginerror').text('登陆名为空！');
                    toastr["warning"]("登陆名为空！")
                    return;
                  }
                  if(!password){
                    $('#loginerror').text('密码为空！');
                    toastr["warning"]("密码为空！")
                    return;
                  }
                  $.ajax({
                      url: './logincheck', 
                      type: 'POST', 
                      contentType: 'application/json', 
                      data: JSON.stringify({username: username, password: password }),
                      success: function(data) {         
                        //var statcode = JSON.stringify(data)
                        //console.log(data)
                        if(data==40030){
                            console.log('登陆失败')
                            $('#loginerror').text('密码错误');
                            toastr["error"]("密码错误")
                        }
                        if(data==40050){
                            $('#loginerror').text('用户名不存在');
                            toastr["error"]("用户名不存在")
                        }
                        if(data==50010){
                            $('#loginerror').text('数据库连接失败');
                            $('#loginerror').show();
                            
                        }
                        if(data==20020){
                            toastr["success"]("登陆成功，正在跳转...")
                            window.location.href='./';
                        }
                      }     
                });
                }
