span.label.label-success 当前路径：修改、管理
br
br
div.alert.alert-danger#error(style="display:none;" role="alert")
form.form-horizontal
    .form-group
        label.col-sm-2.control-label 工号
        .row
            .col-lg-6
                .col-sm-10
                    h5#userid #{userinfo.UserID} 
    .form-group.has-warning.has-feedback
        label.col-sm-2.control-label 姓名
        .row
            .col-lg-6
                .col-sm-10
                    input.form-control#username(type="text" placeholder="慎重修改" value=userinfo.UserName)
                    span.glyphicon.glyphicon-warning-sign.form-control-feedback(aria-hidden="true")
                    span#inputWarning2Status.sr-only (慎重修改)
    .form-group
        label.col-sm-2.control-label 角色属性
        .row
            .col-lg-6
                .col-sm-10
                    select.form-control#roleid
                        if(userinfo.RoleID=='1')
                            option(selected="selected") 超级管理员
                            option 经理
                            option 普通用户
                        if(userinfo.RoleID=='2')
                            option 超级管理员
                            option(selected="selected") 经理
                            option 普通用户
                        if(userinfo.RoleID=='3')
                            option 超级管理员
                            option 经理
                            option(selected="selected") 普通用户                  
.form-group
    .row
        .col-md-4
        .col-md-4
                .col-lg-6
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-info.navbar-btn.btn-lg(onclick="updatausermanag()") 修改
        .col-md-4
    br
#results
script.
    $("input").focus(function () {
        $('#error').slideUp()
        $('.tip').hide()
    });

    //校验输入
    $("#input").blur(function(){
        var thisval = this.val();
        if(!thisval){
            $('#error').val(输入为空)
            $('#error').show()
            return;
        }    
    })

    function updatausermanag() {
        var userid = $("#userid").text();
        var username = $("#username").val();
        var roleid = $("#roleid").val();
        if(!userid||!username||!roleid){
            console.log(!userid||username||roleid)
            return;
        }
        if(roleid=='超级管理员') roleid = 1
        if(roleid=='经理') roleid = 2
        if(roleid=='普通用户') roleid = 3
        $.ajax({
              url: './updateuserinfoDAO', 
              type: 'POST', 
              contentType: 'application/json', 
              data: JSON.stringify({type:'updatauser',userid: userid, username: username, roleid: roleid}),
              success: function(data) {         
                //var statcode = JSON.stringify(data)
                console.log(data)
                    if(data=='20020'){
                        toastr["success"]("员工管理级别修改成功！请查看最新数据")

                        $.ajax({
                            url: './usermanagDao', 
                            type: 'POST', 
                            contentType: 'application/json', 
                            data: JSON.stringify({sertype: 'UserID', seacontent: userid }),
                            success: function(data) {         
                                //var statcode = JSON.stringify(data)
                                console.log(data)
                                $('#results').html(data)
                            }     
                        });
                    }
                }
            });
        }